/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/01/2021, 20:24:24
    Author     : bllv1
*/
.root{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
}

.Button{
    -fx-background-color: #d9d9d9;
}

.Button:hover{
    -fx-text-fill: whitesmoke;
    -fx-text-style: bold;
}

.visualizeButton{
    -fx-background-color: #66ff99;
}

.visualizeButton:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #66ff66;
    -fx-stroke-width: 1px;
    -fx-border-color: #66ff66;
    -fx-border-width: 2px;
    -fx-border-style: dotted;
    -fx-border-radius: 3px;
    -fx-text-style: bold;
}

.Bar{
    -fx-background-color: #cccccc;
}

.ExitButton{
    -fx-background-color: #ff3333;
}

.ExitButton:hover{
    -fx-text-fill: #ff3333;
    -fx-background-color: transparent;
    -fx-border-radius: 3px;
    -fx-border-color: #ff3333;
}

.BackButton{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.QuitButton{
    -fx-background-color: transparent;
    -fx-text-fill: #000000
}

.QuitButton:hover{
    -fx-text-fill: #ff3333;
}

.Center{
    -fx-background-color: #f6f6f6;
}

.SaveButton{
    -fx-background-color: #66ff99;
    -fx-text-fill: #000000;
}

.SaveButton:hover{
    -fx-text-fill: whitesmoke;
    -fx-background-color: #3333ff;
}